.tipField {
    -fx-border-color: black;
    -fx-border-width: 2px;

}
.tip {
    -fx-wrap-text: false;
    -fx-pref-width: 35px;

}
#addTipButton{
    -fx-pref-width: 210;
}
.pressedNum{
    -fx-background-color: blue;
}
.ball{
}