.tipField {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: rgba(255,255,255,0.7);


}
.tip {
    -fx-wrap-text: true;
    -fx-pref-width: 35px;
    -fx-pref-height: 35px;
    -fx-background-radius: 50%;
    -fx-background-color:
            linear-gradient(rgba(205, 205, 205, 0.96), rgba(197, 197, 197, 0.95)),
            radial-gradient(center 50% -40%, radius 200%, rgba(255, 255, 255, 0.95) 45%, rgba(237, 237, 237, 0.98) 50%);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;


}
#addTipButton{
    -fx-pref-width: 210;
}
.pressedNum{
    -fx-background-color:
            linear-gradient(rgba(116, 145, 205, 0.96), rgba(142, 151, 197, 0.95)),
            radial-gradient(center 50% -40%, radius 200%, rgba(186, 209, 255, 0.95) 45%, rgba(162, 170, 237, 0.98) 50%);
}
.ball{
}
#bottomBar{
    -fx-spacing: 15px;
}
.correctTip {
    -fx-background-color:
            linear-gradient(rgba(146, 205, 133, 0.96), rgba(155, 197, 163, 0.95)),
            radial-gradient(center 50% -40%, radius 200%, rgba(201, 255, 199, 0.95) 45%, rgba(173, 237, 151, 0.98) 50%);

}
.wrongTip{
    -fx-background-color:
            linear-gradient(rgba(205, 201, 134, 0.96), rgba(197, 188, 145, 0.95)),
            radial-gradient(center 50% -40%, radius 200%, rgba(255, 249, 129, 0.95) 45%, rgba(237, 235, 188, 0.98) 50%);


}
.dialoguePane{
    -fx-spacing: 5px;
}
.dialoguePane .label{
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-size: bold;
}

#ball{
    -fx-border-color: white;
    -fx-spacing: 10px;
    -fx-text-alignment: middle;
    -fx-border-radius: 50%;
}
#jackpotLabel{
    -fx-font-size: 25px;
    -fx-text-fill: white;
}